<!DOCTYPE html>
<html>

<head>
    <title>Omoribin - Store your pastes</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

        body {
            font-family: 'Share Tech Mono', monospace;
            margin: auto;
        }

        h3 {
            margin: 0;
        }

        a {
            color: rgb(0, 140, 255);
            text-decoration: none;
        }

        ul {
            list-style-type: none;
            padding: 0
        }

        li {
            margin: 0.5em 0 0.5em 0;
        }

        .everything {
            text-align: center;
            margin-top: 6.25rem;
        }

        .create-paste-box {
            background-color: rgb(234, 234, 234);
            border-radius: .5em;
            border: 1px solid #949494;
            padding: 1em;
            margin: 0.5em;
        }

        .create-paste-box:focus {
            outline: none !important;
        }

        .create-button {
            box-shadow: none;
            border: none;
            padding: 1em;
            border-radius: 0.5em;
            background-color: black;
            color: #ffffff;
            cursor: pointer;
        }

        .show-paste-box {
            background-color: rgb(234, 234, 234);
            width: 500px;
            height: auto;
            padding: 1em;
            margin: 2em;
            text-align: left;
            border-radius: 0.5em;
        }

        .recent-pastes {
            width: 500px;
            height: auto;
            padding: 1em;
            margin: 2em;
            text-align: left;
            border-radius: 0.5em;
            background-color: rgb(44, 44, 44);
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="everything" align="center">

        {% block content %}{% endblock content %}

    </div>
</body>

</html>